@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.dashboard {
  display: grid;
  grid-template-columns: 25% 75%;
}

::ng-deep {
  .title {
    font-size: 1.1rem;
  }
}

.no-credentials {
  text-align: center;
  color: var(--gray);
}
