<div class="dashboard">
  <div class="left p-3 bg-light border-right">

    <app-vaults-menu></app-vaults-menu>
    <h4 class="title">
      Tags
    </h4>

    <div class="tags">
      <button class="active">Banks</button>
      <button>login</button>
      <button>social</button>
    </div>
  </div>
  <div class="main">
    <div class="top-bar">
      <span>Filter:</span>
      <button class="btn btn-primary btn-sm" (click)="openCreateNewModal()"><i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="pd-3">
      <p *ngIf="isLoading">Loading...</p>
      <app-credentials-list *ngIf="!isLoading"></app-credentials-list>
    </div>

  </div>
</div>
