$height: 30px;

.toast-notification {
  overflow: hidden;
  height: $height;
  font-size: 0.85rem;
  transition: height .5s;

  &-status--started {
    height: 0;
  }

  &-status--closing {
    height: 0;
  }

  &--success {
    background-color: lightgreen;
    color: darkgreen;
  }

  &--info {
    background-color: lightskyblue;
    color: midnightblue;
  }

  &--warning {
    background-color: orange;
    color: darkred;
  }

  &--error {
    background-color: indianred;
    color: darkred;
  }

  &__content {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
