@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.credential-item {
  .header {
    color: #444;
    cursor: pointer;
    border-bottom: 1px solid $gray-300;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1.5rem;

    .name {
      font-size: 0.9rem;
    }

    .update {
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 0.5);
    }

    .controls {
      width: 0;
      overflow: hidden;
      transition: width .2s;

      &--opened {
        width: 64px;
      }
      button.btn {
        i.bi {
          color: var(--gray);
        }

        &:hover {
          i.bi {
            color: var(--gray-dark);
          }
        }
      }
    }
  }

  .collapse-area {
    border-bottom: 1px solid $gray-300;
    background-color: #fafafa;
  }

  .credential-field-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - .75rem), 290px));
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    margin: 0 auto;
    justify-content: center;

    .credential-field {
      box-sizing: border-box;
    }
  }
}
