<div class="credential-item">
  <div class="header pl-4 pr-3 py-3" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed">
    <div class="data d-flex justify-content-between align-items-center">
      <div class="name">{{credential.name}}</div>
      <div class="update">{{updateDate}}</div>
    </div>
    <div class="controls d-flex" [ngClass]="{'controls--opened' : !isCollapsed}">
      <button class="btn btn-sm" (click)="deleteCredential($event)">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-sm" (click)="editCredential($event)">
        <i class="bi bi-pencil"></i>
      </button>
    </div>
  </div>
  <div class="collapse-area" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div *ngIf="decryptedData" class="credential-field-container px-4 py-3">
      <div
              class="credential-field"
              app-credential-field [field]="field"
              *ngFor="let field of decryptedData"></div>
    </div>
    <div *ngIf="credential.tags.length > 0" class="px-4">
      <p class="tags-title mb-2">Tags</p>
      <ul class="list-unstyled d-flex tags mb-2">
        <li
                class="mr-2 tag mb-2"
          *ngFor="let tag of credential.tags">
          {{tag}}
        </li>
      </ul>
    </div>
  </div>
</div>
