<div class="credential-item">
  <div class="header pl-4 pr-3 py-3" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed">
    <div class="data d-flex justify-content-between align-items-center">
      <div class="name">{{credential.name}}</div>
      <div class="update">{{updateDate}}</div>
    </div>
    <div class="controls d-flex" [ngClass]="{'controls--opened' : !isCollapsed}">
      <button class="btn btn-sm">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-sm">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
  <div class="collapse-area" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div *ngIf="decryptedData" class="credential-field-container px-4 py-3">
      <div
              class="credential-field"
              app-credential-field [field]="field"
              *ngFor="let field of decryptedData"></div>
    </div>
  </div>
</div>
