@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.credential-item {
  .header {
    padding: 1rem;
    font-size: 0.9rem;
    color: #444;
    cursor: pointer;
    border-bottom: 1px solid $gray-300;
  }

  .collapse-area {
    border-bottom: 1px solid $gray-300;
    background-color: #fafafa;
  }
}
