<div class="credential-item">
  <div class="header" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed">
    <div class="name">{{credential.name}}</div>
  </div>
  <div class="collapse-area" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div *ngIf="decryptedData">
      <div class="d-flex" *ngFor="let field of decryptedData">
        <span class="mr-2">{{field.name}} </span>
        <span class="mr-2">{{field.data}} </span>
        <span class="mr-2">{{field.type}} </span>
      </div>
    </div>
  </div>
</div>
