.chips-component {
  position: relative;

  input, input:focus, input:active, input:focus-visible {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    height: 30px;
    flex-grow: 1;
  }

  input::placeholder {
    font-size: .9rem;
  }

  input {
    color: #444444;
  }

  .btn-add {
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .suggestions-list {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;

    li {
      color: var(--gray-dark);
      cursor: pointer;

      &:hover, &:focus {
        background-color: #eeeeee;
      }
    }
  }
}

.chip {
  background-color: rgba(0,0,0,0.08);
  padding: .2rem .4rem .2rem .8rem;
  font-size: .9rem;

  & > span {
    margin-right: .4rem;
  }

  .x-button {
    width: 18px;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%) rotate(45deg);
      font-size: 1.1rem;
      opacity: .5;
      line-height: .8rem;
    }
  }

}
