<div class="modal-header">
    <h5 class="modal-title">Delete Credential</h5>
    <button
            type="button"
            class="close p-0 m-0"
            aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"
            [disabled]="isDeleting">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Do you really want to delete <strong>'{{credential.name}}'</strong> credential?
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-sm btn-outline-dark"
            (click)="activeModal.close('Close click')"
            [disabled]="isDeleting">
        Cancel
    </button>
    <button
            type="button" class="btn btn-sm btn-primary"
            [disabled]="isDeleting"
            (click)="deleteCredential(credential._id)">
        <ng-template [ngIf]="isDeleting">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Deleting...
        </ng-template>
        <ng-template [ngIf]="!isDeleting">
            Delete
        </ng-template>
    </button>
</div>
