<div class="admin-grid">
  <div class="col-left">
    <div class="card rounded-0 shadow-sm p-3 border border-light save-preview-card">
      Save / Preview
    </div>
    <div class="panel">
      <h5 class="mb-3">Element Definition</h5>
      <div class="element-definition-form">
        <div class="form-element">
          <div class="label-container">
            <label for="dropdownBasic1" class="form-label mb-1">Label</label>
          </div>
          <div class="input-container mb-2">
            <div ngbDropdown class="d-inline-block align-self-end">
              <button class="btn btn-outline-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-element">
          <div class="label-container">
            <label for="dropdownBasic1" class="form-label mb-1">A long label</label>
          </div>
          <div class="input-container mb-2">
            <div ngbDropdown class="d-inline-block align-self-end">
              <button class="btn btn-outline-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-element">
          <div class="label-container">
            <label for="dropdownBasic1" class="form-label mb-1">A very very very long label</label>
          </div>
          <div class="input-container">
            <div ngbDropdown class="d-inline-block align-self-end">
              <button class="btn btn-outline-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="card rounded-0 shadow-sm p-3 border border-light d-lg-none d-sm-block">
      <h5 class="mb-3">Data Value Mapping</h5>
      <h5 class="mb-3">Filtering</h5>

      <div class="filtering-form">
        <div class="form-row d-flex flex-wrap mb-2">
          <div class="input-container field-type mr-3 mb-2">
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
          </div>
          <div class="rest-elements mb-2">
            <div ngbDropdown class="d-inline-block mr-3">
              <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            <input class="form-control  control-element mr-3" type="text" placeholder="" aria-label="default input example">
            <div class="form-check control-element">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Ignore case
              </label>
            </div>
          </div>
        </div>
        <div class="form-row d-flex flex-wrap mb-2">
          <div class="input-container field-type mr-3 mb-2">
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
          </div>
          <div class="rest-elements mb-2">
            <div ngbDropdown class="d-inline-block mr-3">
              <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            <input class="form-control  control-element mr-3" type="text" placeholder="" aria-label="default input example">
            <div class="form-check control-element">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Ignore case
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded-0 shadow-sm p-3 border border-light">
      Group Results
    </div>
    <div class="card rounded-0 shadow-sm p-3 border border-light">
      Calculations
    </div>
  </div>
  <div class="col-right">
    <div class="card rounded-0 shadow-sm p-3 border border-light d-sm-none d-lg-block">
      <h5 class="mb-3">Data Value Mapping</h5>
      <h5 class="mb-3">Filtering</h5>

      <div class="filtering-form">
        <div class="form-row d-flex flex-wrap mb-2">
          <div class="input-container field-type mr-3 mb-2">
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
          </div>
          <div class="rest-elements mb-2">
            <div ngbDropdown class="d-inline-block mr-3">
              <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            <input class="form-control  control-element mr-3" type="text" placeholder="" aria-label="default input example">
            <div class="form-check control-element">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Ignore case
              </label>
            </div>
          </div>
        </div>
        <div class="form-row d-flex flex-wrap mb-2">
          <div class="input-container field-type mr-3 mb-2">
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
          </div>
          <div class="rest-elements mb-2">
            <div ngbDropdown class="d-inline-block mr-3">
              <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            <input class="form-control  control-element mr-3" type="text" placeholder="" aria-label="default input example">
            <div class="form-check control-element">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Ignore case
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
