<form [formGroup]="fieldForm" class="credential-form-field mb-3">
  <div class="fields d-flex flex-wrap">
    <div class="input-fields d-flex flex-wrap">
      <div class="input-container input-name-container mr-2 mb-2">
        <input
                class="form-control form-control-sm"
                id="name"
                type="text"
                formControlName="name"
                placeholder="Field name">
      </div>
      <div class="input-container mr-2 mb-2">
        <input
                class="form-control form-control-sm"
                id="data"
                type="text"
                formControlName="data"
                [placeholder]="dataPlaceholder">
      </div>
    </div>
    <div class="dropdown-container mr-2 mb-2">
      <div ngbDropdown class="d-inline-block w-100">
        <button
                class="btn btn-sm btn-outline-primary w-100"
                id="dropdownBasic1" ngbDropdownToggle>
          {{fieldTypes[selectedFieldType]}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of fieldTypes | keyvalue" (click)="selectFieldType(item.key)">{{item.value}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-button">
    <button class="btn btn-sm btn-outline-secondary" (click)="removeField()">Remove</button>
  </div>
</form>
