.credential-form-field {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr auto;
}

.fields {
  .input-fields {
    flex-grow: 3;

    .input-container {
      min-width: 240px;
      flex-grow: 3;
    }

    .input-name-container {
      min-width: 150px;
      flex-grow: 1;
    }
  }

  .dropdown-container {
    flex-grow: 1;
    min-width: 140px;
  }
}
