label {
  font-size: 0.85rem;
  color: #666666;
}

.controls {
  .buttons {
    min-width: 71px;

    .btn:not(:last-child) {
      margin-right: 0.4rem;
    }
  }

  input.form-control {
    flex-shrink: 1;
    margin-right: 0.4rem;
  }
}
