<ng-container>
    <label [for]="field.name" class="mb-1">{{field.name}}</label>
    <div class="controls d-flex">
        <input
                class="form-control form-control-sm"
                [type]="fieldType"
                [id]="field.name"
                value="{{field.data}}"
                disabled
        >
        <div class="buttons">
            <button class="btn btn-sm btn-outline-primary" *ngIf="field.type === 'password'" (click)="toggleShowData()">
                <i class="bi bi-eye" *ngIf="!isDataVisible"></i>
                <i class="bi bi-eye-slash" *ngIf="isDataVisible"></i>
            </button>

            <button
                    class="btn btn-sm btn-outline-primary"
                    *ngIf="field.type === 'url'"
                    (click)="openUrl(field.data)"
            >
                <i class="bi bi-box-arrow-up-right"></i>
            </button>

            <button
                    class="btn btn-sm btn-outline-primary"
                    *ngIf="field.type === 'address'"
                    (click)="openMap(field.data)"
            >
                <i class="bi bi-map"></i>
            </button>

            <button
                    class="btn btn-sm btn-outline-primary"
                    *ngIf="field.type === 'email'"
                    (click)="mailTo(field.data)"
            >
                <i class="bi bi-envelope"></i>
            </button>

            <button class="btn btn-sm btn-outline-primary" (click)="copyData()">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>
</ng-container>
